$al-primary-color: #E0EAFA;
$al-secondary-color: #C7E0F2;

$al-primary-blue: #4065DA;

$al-tag-webinar: #3366E2;
$al-tag-assignment: #B8D3FF;

$al-primary-neutral: #FFFFFF;
$al-primary-black: #000000;

$al-secondary-neutral: #D9D9D9;
$al-secondary-black: #1C1B1F;

$al-gray: #E6E6E6;
$al-secondary-gray: #6D727E;